.botao {
  background-color: var(--amarelo);

  text-align: center;
  font-family: inherit;
  font-weight: var(--peso-botao);
  color: var(--branco);

  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;

  box-shadow: 10px 10px 30px var(--amarelo-transparente);

  border: none;
}

.botao--alternativo {
  color: var(--amarelo);

  background-color: unset;

  box-shadow: none;

  border: 1px solid var(--amarelo);
}

.input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  width: 100%;

  padding-top: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 1.75rem;
  padding-left: 1.75rem;

  box-sizing: border-box;

  margin-bottom: 1rem;

  background-color: var(--branco);

  border: none;

  box-shadow: 10px 10px 30px var(--preto-transparente);
}

.input--icone {
  padding-left: 4.25rem;

  background-repeat: no-repeat;
  background-position: left 1.75rem center;
}

.input--email {
  background-image: url(../img/icons/mail.svg);
}


/*  CARTAO   */

.cartao {
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--branco);
  box-shadow: 10px 10px 30px var(--preto-transparente);
}

/* ITEM */

.lista-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 15rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.item__icone {
  display: block;
  margin-right: 1rem;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  background-color: var(--amarelo);
  background-size: 1.375rem;
  background-repeat: no-repeat;
  background-position: center;
}

.item__icone--cursor {
  background-image: url(../img/icons/mouse.svg);
}

.item__icone--carrinho {
  background-image: url(../img/icons/cart.svg);
}

.item__icone--caminhao {
  background-image: url(../img/icons/truck.svg);
}

/*  PRODUTO  */

.produto {
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 50%;
  position: relative;
  overflow: hidden;
  background-color: var(--branco);
  box-shadow: 10px 10px 30px var(--preto-transparente);
  box-sizing: border-box;
  min-height: 12.5rem;
}

.produto__imagem {
  position: absolute;
  top: 50%;
  left: -8rem;
  transform: translateY(-50%);
  z-index: 1;
  width: 18.75rem;
}

.produto__conteudo {
  position: relative;
  z-index: 2;
}

.produto__titulo {
  margin-top: 0;
  margin-bottom: .5rem;
}

.produto__preco {
  margin-bottom: 1.5rem;
}

.produto__comprar {
  color: var(--amarelo);
  display: flex;
  align-items: center;
}

.produto__comprar--icone {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-left: 1.75rem;
  background-image: url(../img/icons/seta.svg);
  background-size: contain;

}


/* Video */

.cartao-de-video {
  margin-bottom: 2rem;
}

.cartao-de-video__video {
  position: relative;
  width: 100%;
  max-height: 17.5rem;
  overflow: hidden;
  margin-bottom: .5rem;
}

.cartao-de-video__video::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 4.875rem;
  height: 4.875rem;
  border-radius: 50%;
  background-color: var(--branco);
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-size: 1.75rem;
  background-position: center;
}

.cartao-de-video__titulo {
  color: var(--preto);
  font-size: var(--tamanho-titulo-destaque);
  font-weight: var(--peso-destaque);
  margin-bottom: .75rem;
}


/* Cabecalho */

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  width: 100%;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.cabecalho__logo {
  width: 11.125rem;
}

.cabecalho__carrinho {
  width: 1.75rem;
}

/* RODAPE */

.rodape {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;

  background-color: var(--branco);
  background-image: url(../img/splash-rodape.svg);
  background-position: top -11rem right;
  background-repeat: no-repeat;
}

.rodape__logo {
  max-width: 11.125rem;
  margin-bottom: 1.25rem;
}

.rodape__social {
  display: flex;
  margin-bottom: 2rem;
}

.rodape__social-midia {
  display: inline-block;
  width: 1.625rem;
  height: 1.625rem;
  margin-right: 1.625rem;
}

.rodape__unidade {
  margin-bottom: 2rem;
}

.rodape__unidade-titulo {
  color: var(--preto);
  font-size: var(--tamanho-titulo-destaque);
  font-weight: var(--peso-destaque);
  display: block;
  margin-bottom: .5rem;
}