.populares {
  padding: 3rem 0;
}

.populares__conteudo {
  display: flex;
  flex-wrap: wrap; 
  grid-area: conteudo;
  padding: 1rem 0;
}

.populares__card {
  display: grid;
  background-color: #fdfdfd;
  grid-template-areas: 
    "card-imagem"
    "card-corpo";
  grid-template-columns: 100%;
}

.populares__card:last-child {
  margin-right: 0;
}

.populares__card___imagem {
  grid-area: card-imagem;
  width: 100%;
  height: 100%;
}

.populares__card___corpo {
  grid-area: card-corpo;
  padding: .75rem;
  display: grid;
  grid-row-gap: .5rem;
  grid-template-areas: "cabecalho" "descricao";
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
}

.populares__card___cabecalho {
  grid-area: cabecalho;
}

.populares__card___titulo {
  font-size: 1.5rem;
  color: #333;
}

.populares__card___data {
  font-size: .9rem;
  color: #808080;
}

.populares__card___descricao {
  grid-area: descricao;
  color: #333;
  text-align: justify;
  line-height: 1.5;
  margin: 1rem;
}

.populares__cabecalho {
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
}

.populares__titulo {
  font-weight: 500;
}

.populares__icone {
  margin-right: .25rem;
}

.populares__botao {
  background: transparent;
  border: none;
  color: #333;
}